/* #region.commons */

  /* # CSS reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    width: 512px;
    background-color: #1a1d7a;
  }

/* #endregion.commons */

/* #region#site-header */

  #site-header {
    height: 280px;
    background-image: url(../img/banner.png);
    background-size: cover;
  }

/* #endregion#site-header */

/* #region.main-content */

  .main-content {
    padding: 60px 30px;
  }

  /* #region.cards */
    .cards {
      background-color: #5d64d1;
      color: #fff;
      font-family: "DM Sans", sans-serif;
      font-weight: 600;
      width: 100%;
      padding: 60px 30px;
      border-radius: 30px;
    }
    /* h2 personalizzato */
    .cards > h2 {      
      font-family: "Sigmar", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
    }    
    .cards > p {
      padding-bottom: 15px;
    }    
    
    /* box interno alla card (img, buttons...) */
    .cards-no-text-contents {
      /* background-color: #fff;
      color: black; */
      height: 200px;
      width: 100%;
      border-radius: 30px;
      }
      
    /* card con i bottoni */
    .cards-type-botton {
      background-color: transparent;
      text-align: center;
    }
  
  
  /* #endregion.cards */

/* #endregion.main-content */