/* #region.commons */

  /* # CSS reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    width: 512px;
  }

/* #endregion.commons */

/* #region#site-header */

  #site-header {
    height: 280px;
    background-image: url(../img/banner.png);
    background-size: cover;
  }




/* #endregion#site-header */